{
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"]
}
