[tool.ruff]
cache-dir = "~/.cache/ruff"
line-length = 79
target-version = "py310"

[tool.ruff.lint]
select = ["E", "F", "W", "I"]

[tool.ruff.lint.isort]
split-on-trailing-comma = false

[tool.ruff.format]
skip-magic-trailing-comma = true

[tool.pytest.ini_options]
addopts = ["--import-mode=importlib", "--capture=tee-sys"]
testpaths = ["python"]
