name: Node.js CI
on:
  push:
    branches: [main]
    tags: ["**"]
  pull_request:
    branches: [main]
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: ["20", "22", "24"]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Node ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Update to latest npm
        run: npm update -g npm
      - name: Install dependencies
        run: npm install
      - name: Check formatting with Prettier
        run: npx prettier --check --ignore-unknown "**/*"
      - name: Lint with ESLint
        run: npx eslint "**/*.ts" {eslint,prettier}.config.mjs
      - name: Set up LocalStack
        uses: LocalStack/setup-localstack@v0.2.4
        with:
          image-tag: "latest"
          install-awslocal: "false"
      - name: Test with Mocha
        run: npx mocha -r ts-node/register "**/*.spec.ts"
        working-directory: nodejs
  publish:
    name: Build and publish package
    needs: test
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/nodejs/v')
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Set up Node 24
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - name: Update to latest npm
        run: npm update -g npm
      - name: Install dependencies
        run: npm install
      - name: Build package
        run: npm run build
        working-directory: nodejs
      - name: Publish package
        run: npm publish
        working-directory: nodejs
